<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435677939590-ehfsmijd36jim4jj9n4ohoatk9321n11.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435677939590-ehfsmijd36jim4jj9n4ohoatk9321n11</string>
	<key>API_KEY</key>
	<string>AIzaSyDBAL-3cRx9WW0hDBTq0Vn5O11BuRPsAVk</string>
	<key>GCM_SENDER_ID</key>
	<string>435677939590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cauMalone</string>
	<key>PROJECT_ID</key>
	<string>login-practice-c38b8</string>
	<key>STORAGE_BUCKET</key>
	<string>login-practice-c38b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435677939590:ios:ebb2d870eb10d14d87ce07</string>
</dict>
</plist>